.breadcrumbs {
  margin-bottom: 3px;

  &__list {
    display: flex;
    color: $text-primary;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: 0.01em;
  }

  &__item {
    position: relative;
    padding-right: 13px;

    +.breadcrumbs__item {
      margin-left: 10px;
    }
    a{
      color: inherit;
    }

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #D9D9D9;
      right: 0;
      top: 50%;
      transform: translateY(-25%);
    }

    &:last-child {
      padding-right: 0;

      &::before {
        content: '';
        display: none;
      }
    }

  }
  &__btn{
    background-color: transparent;
    margin-right: 17px;
    display: none;
  }

}

@media (max-width: 930px) {
  .breadcrumbs {
    background-color: #fdfdfd;
    padding: 20px 0;
    border-bottom: 0.7px solid rgba(191, 199, 210, .7);

    &__item:first-child {
      display: block;
      &::before {
        display: none;
      }
    }
    &__item {
      display: none;
    }
    &__btn{
      display: inline-block;
    }
    &__list{
      display: inline-block;
    }
  }
}